*{
    box-sizing: border-box;
}
.lexend{
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.shoulders{
    font-family: "Big Shoulders Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    background-color:#f2f2f2;
}

#sedan-tile {
    background-color:#e38826;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    position: relative;
}

#suv-tile{
    background-color:#006970;
    position: relative;
}

#luxury-tile{
    background-color:#004241;
    border-top-right-radius:7px;
    border-bottom-right-radius: 7px;
    position: relative;    
}

#sedan-tile, #suv-tile, #luxury-tile{
    height: 500px;
    padding: 48px 48px 48px 48px;
}

img{
    width: 50px;   
}

#sedan, #suv, #luxury{
    color:#f2f2f2;
    font-family:"Big Shoulders Display", serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin: 30px 0 20px 0;     
} 

p{
    font-family:"Lexend Deca", serif;
    font-size: 15px;
    font-weight: 400;
    color: #f2f2f2;
    opacity: .7;
    margin: 20px 0 20px 0;  
    max-width: 23ch; 
}

button{
    position: absolute;
    bottom: 10%;
}

.btn{
    font-size: 10px; 
    padding: 10px 30px 10px 30px;
    margin: 100px 0 0 0;  
}

#buttons{
    font-family: "Lexend Deca", serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

#sedan-tile button:hover{
    color:#e38826 ;
}

#suv-tile button:hover{
    color: #006970;
}

#luxury-tile button:hover{
    color: #004241;
}

@media (min-width:1400px) {
    
    #main-content{
        width: 75%;
        padding-top: 45px;
    }

    .row{
        margin: 30px 60px auto 60px;
    }
}

@media (min-width:1200px) and (max-width:1399.9px){

    #main-content{
        width: 80%;
        padding-top: 45px;
    }

    .row{
        margin: 30px 40px auto 40px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    
    #main-content{
        width: 85%;
        padding-top: 45px;
    }

    .row{
        margin: 30px 25px auto 25px;
    }
}

@media (min-width:768px) and (max-width:991.5px){

    #main-content{
        padding-top: 50px;
    }

    .row{
        margin-top: 20px;
    }
}

@media (min-width:576px) and (max-width:767.5px){

    #main-content{
        padding-top: 20px;
    }

    .row{
        margin: 10px 15px 70px 15px;
    }

    #sedan-tile, #suv-tile, #luxury-tile{
        height: 400px;
    }

    p{
        max-width: 50ch;
    }

    #sedan-tile{
       border-top-right-radius:7px;
       border-bottom-left-radius:0px ;
    }

    #luxury-tile{
        border-bottom-left-radius: 7px;
        border-top-right-radius: 0px;
    }

}

@media (max-width:576px){

    #main-content{
        padding-top: 20px;
    }

    .row{
        margin: 10px 15px 70px 15px;
    }

    #sedan-tile, #suv-tile, #luxury-tile{
        height: 400px;
    }

    p{
        max-width: 50ch;
    }

    #sedan-tile{
        border-top-right-radius:7px;
        border-bottom-left-radius:0px ;
    }
 
     #luxury-tile{
         border-bottom-left-radius: 7px;
         border-top-right-radius: 0px;
    }    
}

@media (max-width:390px){

    button{
        position: absolute;
        bottom: 5%;
    }
}

@media (max-width:312px){

    button{
        position: absolute;
        bottom: 2%;
    }
}